#background{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
	width:100%;
	height:auto;
}

.thumbnail {
	width:151px;
	height:auto;
}

#extrawide {
	width:25%;
	background-color:white;
}

#links {
	width:35%;
	background-color:white;
}