body {
	font-family:helvetica, arial, verdana;
	margin:0;
	text-align:left;
	background-color:#02bbc7;
	
}

#page {
	width:960px;
	background-color:#013236;
	height:660px;
	margin:0 auto;
}

#header {
	width:960px;
	height:80px;
	background-color:#b3fafc;
}

#header_logo {
	width:278px;
	background-color:#9baaab;
	color:#fafafa;
	height:38px;
	float:left;
	text-align:center;
	padding:20px;
	border:1px solid black;
}

#header_center {
	width:278px;
	background-color:#9baaab;
	color:#fafafa;
	height:38px;
	float:left;
	text-align:center;
	padding:20px;
	border:1px solid black;
}

#header_right {
	width:278px;
	background-color:#9baaab;
	color:#fafafa;
	height:38px;
	float:left;
	text-align:center;
	padding:20px;
	border:1px solid black;
}

#menu {
	background-color:#252626;
	color:#fafafa;
	width:960px;
	height:30px;
	float:left;
	text-align:center;
}

#content {
	background-color:#3b7b7d;
	float:left;
	width:960px;
	height:520px;
}

#content_left {
	background-color:#244e4f;
	color:#fafafa;
	width:410px;
	height:180px;
	border:1px solid #b3fafc;
	text-align:center;
	padding:40px 10px 40px 10px;
	float:left;
	margin:20px 10px 10px 20px;
	border-radius:12px;
	
}

#content_right {
	background-color:#244e4f;
	color:#fafafa;
	width:410px;
	height:180px;
	border:1px solid #b3fafc;
	text-align:center;
	padding:40px 10px 40px 10px;
	float:right;
	margin:20px 20px 10px 10px;
	border-radius:12px;
}

#footer {
	background-color:#252626;
	color:#fafafa;
	width:960px;
	height:30px;
	float:left;
	text-align:center;
}